<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Configuración simple para pruebas sin Logstash -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuración de logs para pruebas -->
    <logger name="org.springframework.security" level="WARN" />
    <logger name="org.springframework.web" level="WARN" />
    <logger name="org.springframework.amqp" level="ERROR" />
    <logger name="net.logstash.logback" level="OFF" />
    <logger name="org.hibernate.SQL" level="WARN" />
    <logger name="com.proyecto.msvc_auth" level="INFO" />

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
